.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color:#232222;
    box-shadow: 0px 3px 20px #0000007c;
}

.s1{
    background-color: aliceblue;
    color: #011422;
    height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #0000007c;
}

.imgPerfil{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
    transform: scale(1.03);
}

.right{
    width: 500px;
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.paragraph{
    font-size: 22px;
}

.rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.rodape a{
    transition: all 200ms ease-in-out;
    border-radius:  999px;
    overflow: hidden;
}

.rodape a:hover{
    transform: translateY(-6px) scale(1.01);
}

.s2{
    background-color: aliceblue;
}

.s3{
    background-color: aliceblue;
}

.s5{
    background-color: aliceblue;
}

.s4{
    background-color: aliceblue;
    color: #011422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    height: auto;
    padding: 50px;
    gap: 20px; 
}

.s4 h2{
    color: #2e2b5a;
    font-size: 56px;
    letter-spacing: 10px;
    font-weight: bold;
}

.formData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0px 3px 20px #0000007c;
    padding: 20px;
}

.formData label{
    text-align: left;
    width: 100%;
    margin-bottom: -7px;
}

.formData input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 2px solid #0000007c;
}

.formData textarea{
    width: 300px;
    height: 100px;
    border: none;
    border: 2px solid #0000007c;
    border-radius: 5px;
    padding: 10px;
}

.formData button{
    padding: 10px;
    border: none;
    border: 2px solid #0000007c;
    border-radius: 5px;
    width: 100%;
    opacity: 0.7;
}

.formData button:hover{
    cursor: pointer;
    opacity: 1;
}

.s5 card {
  width: 300px;
  height: 200px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.s5 card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.s5 card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.s5 card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.s5 card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.s5 ard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.s5 card:hover:before {
  transform: translateX(-100%);
}

.s5card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.s5 card:hover:after {
  transform: translateX(100%);
}


@media (width <= 768px){
    .s1{
        padding-top: 20px;
        gap: 0;
    }

    .left{
        width: 300px;
        height: 300px;
    }

    .imgPerfil{
        width: 300px;
        height: 300px;
    }

    .right{
        padding: 20px;
        margin-top: -150px;
    }

    .s4 h2{
    font-size: 48px;
    letter-spacing: 5px;
    
}
}