.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color:#232222;
    box-shadow: 0px 3px 20px #0000007c;
}

.s1{
    background-color: aliceblue;
    color: #011422;
    height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left{
    width: 400px;
    height: 400px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0px 3px 20px #0000007c;
}

.imgPerfil{
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
    transform: scale(1.05);
}

.right{
    width: 500px;
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.paragraph{
    font-size: 22px;
}

.rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.rodape a{
    transition: all 200ms ease-in-out;
    border-radius:  999px;
    overflow: hidden;
}

.rodape a:hover{
    transform: translateY(-6px) scale(1.1);
}

.s2{
    background-color: aliceblue;
}

.s3{
    background-color: aliceblue;
}

.s4{
    background-color: aliceblue;
}

@media (width <= 768px){
    .s1{
        padding-top: 20px;
        gap: 0;
    }

    .left{
        width: 300px;
        height: 300px;
    }

    .imgPerfil{
        width: 300px;
        height: 300px;
    }

    .right{
        padding: 20px;
        margin-top: -150px;
    }
}